body{
    left: auto;
    right: auto;
}

h1{
    font-size: 20px!important;
    margin-left: 5%;
}

.players-form {
    margin: 10px;
}
.players-form label {
    margin: 5px;
}
.players-form input{
    margin: 2px;
}
#fround{
    width: 70px;

}
#fplayer{
    width: auto;

}
.fset{
    width: 50px;
}

#fsubmit{
    margin-left: 90%;
}

.winner{
    font-weight: bold;
}

#men-title, #men-table, #women-title, #women-table{
    display: none;
}

.table td, .table th{
    border-top: none!important;
}